<div class="mt-75 layout-column justify-content-center align-items-center">
    <section class="layout-row align-items-center justify-content-center">
      <input type="text" class="large" placeholder="Name" data-test-id="app-input" #inputText/>
      <button type="submit" class="ml-30" data-test-id="submit-button" (click)="addCustomer(inputText.value)">Add Customer</button>
    </section>
  
    <ul *ngIf="customers.length" class="styled mt-50" data-test-id="customer-list">
      <li class="slide-up-fade-in"
          [attr.data-test-id]="'list-item'+ index"
          *ngFor="let customer of customers; let index = index;">{{customer}}</li>
    </ul>
  
  </div>
